@use "@/sass" as *;
@use "./navbar_mobile.scss" as *;

.header_wrapper {
  @include container;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: end;
}

.header {
  height: 5rem;
  padding-bottom: 0.1rem;
  background: $store-background;

  @include tablet {
    display: none;
  }
}

.header_mobile {
  display: none;
  position: relative;

  button {
    all: unset;
    display: flex;
    align-items: center;
  }

  @include tablet {
    @include container;
    display: flex;
    align-items: end;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 8px;

  h2 {
    font-size: x-large;
    font-weight: 700;
  }
}

.nav {
  width: 100%;
  padding-left: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;

  @include tablet {
    padding-left: 1rem;
  }
}

.nav_item {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  min-height: 2rem;

  gap: 0.3rem;
  z-index: 10;

  @include tablet {
    min-height: auto;
  }

  ul {
    position: absolute;
    padding: 1rem;
    padding-top: 0.8rem;
    top: 30;

    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 0.5rem;

    border-radius: 4px;
    @include full-shadow;
    height: auto;
    width: 10rem;

    li {
      padding: 0.3rem;
      font-size: 15;
      list-style: none;

      &:hover {
        background: $store-background;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  span {
    font-size: 15;
    font-weight: 500;
    color: $dark-grey;

    @include tablet {
      font-size: 16;
    }
  }

  svg {
    left: 35%;
    bottom: -13px;
    color: $dark-grey;
  }
}

.input_div {
  display: flex;
  align-items: center;
  flex-grow: 1;

  position: relative;
}

.icon_search {
  position: absolute;
  right: 25px;
  color: grey;

  @include mobile {
    right: 10px;
  }
}

.input {
  width: 100%;
  padding-block: 0.8rem;
  padding-inline: 2rem;
  border: none;
  font-family: var(--font-inter);

  @include mobile {
    padding-inline: 1rem;
  }

  &:focus {
    outline: 1px solid $dark-grey;
  }

  &::placeholder {
    color: rgb(150, 150, 150);
  }
}
