@use "@/sass" as *;
@use "./navbar_mobile.scss" as *;

.header_wrapper {
  @include container;
  height: 100%;
  margin: 0 auto;

  display: flex;
  align-items: end;
}

.header {
  height: 5rem;
  padding-bottom: 0.1rem;
  background: $store-background;

  @include tablet {
    display: none;
  }
}

.header_mobile {
  display: none;
  position: relative;

  button {
    all: unset;
    display: flex;
    align-items: center;
  }

  @include tablet {
    @include container;
    display: flex;
    align-items: end;
  }
}

.logo {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding-bottom: 8px;
}

.nav {
  width: 100%;
  padding-left: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;

  @include tablet {
    padding-left: 1rem;
    gap: 1rem;
  }
}

.nav_item {
  cursor: pointer;

  display: flex;
  align-items: center;
  min-height: 2rem;

  gap: 0.3rem;
  z-index: 10;

  @include tablet {
    min-height: auto;
  }

  ul {
    position: absolute;
    padding: 1rem;
    padding-top: 0.8rem;
    top: 30;

    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 0.5rem;

    border-radius: 4px;
    @include full-shadow;
    height: auto;
    width: 10rem;

    li {
      padding: 0.3rem;
      font-size: 15px;
      list-style: none;

      &:hover {
        background: $store-background;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  span,
  button,
  a {
    font-size: 14px;
    font-weight: 500;
    color: $dark-grey;

    border: none;
    cursor: pointer;

    @include tablet {
      font-size: 16px;
    }
  }

  svg {
    left: 35%;
    bottom: -13px;
    color: $dark-grey;
  }
}
