@use "@/sass" as *;

.header {
  margin: 0 auto;
  padding-left: 17rem;
  padding-right: 17rem;
  padding-bottom: 0.1rem;

  display: flex;
  align-items: end;
  background: $store-background;

  width: screen;
  height: 5rem;
}

.logo {
  display: flex;
  padding-bottom: 18px;

  h2 {
    font-size: x-large;
    font-weight: 700;
  }
}

.nav {
  width: 100%;
  padding-left: 5rem;
  display: flex;
  align-items: center;
  gap: 3rem;
}

.input_div {
  display: flex;
  align-items: center;
  flex-grow: 1;

  position: relative;
}

.icon_search {
  position: absolute;
  right: 10px;
  color: grey;
}

.input {
  width: 100%;
  padding-block: 0.8rem;
  padding-inline: 2rem;
  border: none;
  font-family: var(--font-inter);

  &:focus {
    outline: 1px solid $dark-grey;
  }

  &::placeholder {
    color: rgb(150, 150, 150);
  }
}

// navbar items
.nav_item {
  position: relative;
  cursor: pointer;

  display: flex;
  align-items: center;
  min-height: 2rem;
  gap: 0.3rem;

  ul {
    position: absolute;
    padding: 1rem;
    padding-top: 0.8rem;
    top: 30;

    display: flex;
    flex-direction: column;
    background: #fff;
    gap: 0.5rem;

    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px,
      rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
    height: auto;
    width: 10rem;

    li {
      padding: 0.3rem;
      font-size: 15;

      &:hover {
        background: $store-background;
      }

      a {
        display: flex;
        align-items: center;
        gap: 0.5rem;
      }
    }
  }

  span {
    font-size: 0.95rem;
    font-weight: 500;
    color: $dark-grey;
  }

  svg {
    left: 35%;
    bottom: -13px;
    color: $dark-grey;
  }
}
