@mixin skeleton {
  background-image: linear-gradient(90deg, #ddd 0px, #e8e8e8 40px, #ddd 80px);
  background-size: 300% 100%;
  animation: shimmer 1.4s infinite linear;
}

@mixin slide_in_left_dialog {
  animation: slide_in_left 0.3s ease forwards;
}

@mixin slide_in_top_dialog {
  animation: slide_in_top_dialog 0.3s ease forwards;
}

@mixin slide_in_top_cart {
  animation: slide_in_top_cart 0.3s ease forwards;
}

@mixin spin_loader {
  animation: spin 1s linear infinite;
}

@mixin grow_in_cart {
  animation: grow_in 0.2s ease;
}

@keyframes shimmer {
  0% {
    background-position: 100% 0;
  }
  100% {
    background-position: -100% 0;
  }
}

@keyframes slide_in_left {
  0% {
    right: -20rem;
  }
  100% {
    right: 0;
  }
}

@keyframes slide_in_top_dialog {
  0% {
    top: 45%;
    opacity: 60%;
  }
  100% {
    top: 50%;
    opacity: 100%;
  }
}

@keyframes slide_in_top_cart {
  0% {
    top: 0;
    opacity: 60%;
  }
  100% {
    top: 100%;
    opacity: 100%;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}

@keyframes grow_in {
  0% {
    transform: scale(0%);
  }
  100% {
    transform: scale(100%);
  }
}
