@mixin container {
  margin: 0 auto;
  padding-left: 15rem;
  padding-right: 15rem;
}

@mixin tablet {
  @media screen and (max-width: 768px) {
    @content;
  }
}

@mixin mobile {
  @media screen and (max-width: 640px) {
    @content;
  }
}
