@use "@/sass/" as *;

.reviews {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.content {
  display: flex;
  align-items: center;
  gap: 1rem;

  button {
    border: none;
  }

  .dailog_button {
    padding: 0.2rem;
    border: none;
    background: $store-background;
    font-family: var(--font-inter);
    cursor: pointer;

    text-decoration: underline;
    text-underline-offset: 3px;
    text-decoration-thickness: 1px;
    text-decoration-color: $dark-grey;
  }
}

// Dialog

.dialog::backdrop {
}

.dialog {
  inset: unset;
  right: 0;
  top: 0;

  border: none;
  width: 27rem;
  height: 100vh;
  max-height: 100vh;
  overflow: hidden;
}

.dialog_content {
  height: 100%;
  padding: 1.5rem;
  padding-inline: 2rem;
}

.header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  h1 {
    font-size: 19;
    font-weight: 400;
  }

  button {
    background: #fff;
  }
}

.review_content {
  padding-top: 1rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;

  p {
    font-size: 14;
    color: $dark-grey;
  }
}

.name {
  font-weight: 500;
}

.details {
  display: flex;
  gap: 1rem;

  span {
    font-size: 14px; // Added px unit
    color: $dark-grey;
  }

  button {
    display: flex;
    align-items: center;
    gap: 0.3rem;
    color: $dark-grey;
    background: #fff;
    cursor: pointer;
  }

  &.helpful {
    button,
    span {
      opacity: 85%;
    }
  }
}
