@use "@/sass" as *;

.container {
  position: relative;
  button {
    background: transparent;
  }

  span {
    cursor: default;
  }

  @include mobile {
    position: unset;
  }
}

.cart_button {
  position: relative !important;
}

.amount {
  @include grow_in_cart;

  position: absolute;
  right: -4px;
  top: 0;
  z-index: 10;

  display: flex;
  align-items: center;
  justify-content: center;

  background: $dark-grey;
  width: 18px;
  height: 18px;

  border-radius: 10px;

  span {
    font-size: 11px;
    color: #fff;
  }
}

.overlay {
  position: fixed;
  z-index: 20;
  inset: 0;

  background: black;
  opacity: 40%;
  cursor: default;
}

.header {
  display: flex;
  justify-content: space-between;

  border-bottom: 2px solid black;
  padding-bottom: 0.3rem;

  button {
    display: flex;
    align-items: center;
  }

  h2 {
    font-size: 23px;
  }
}

.cart {
  @include slide_in_top_cart;

  position: absolute;
  z-index: 30;
  right: 0;

  background: #fff;
  border-radius: 3px;
  overflow-y: auto;

  width: 30rem;
  max-height: calc(100vh - 5rem);
  cursor: default;

  padding: 1rem;
  padding-bottom: 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  @include mobile {
    width: calc(100vw - 10px);
    right: -11px;
  }
}

.cart_item {
  display: flex;
  align-items: center;
  gap: 1rem;

  padding-bottom: 0.8rem;
  border-bottom: 1px solid rgb(198, 198, 198);

  a {
    text-transform: capitalize;
    @include truncate(2);

    @include mobile {
      font-size: 15px;
    }
  }
}

.item_end {
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;

  span {
    font-weight: 600;
  }
}

.item_end_div {
  display: flex;
  gap: 0.5rem;
}

.product_amount {
  height: 1.5rem;

  display: flex;
  align-items: center;

  input {
    text-align: center;
    width: 2rem;
    height: 100%;
  }

  input::-webkit-outer-spin-button,
  input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  button {
    @include black-button(2px, 0.3rem);
    height: 100%;
    border: none;
  }
}

.image_wrapper {
  min-width: 4.5rem;
  position: relative;
  aspect-ratio: 16 / 9;

  img {
    object-fit: contain;
  }
}

.footer {
  margin-top: auto;
}

.total {
  border-bottom: 1px solid rgb(198, 198, 198);
  padding-block: 1rem;

  span {
    font-weight: 600;
  }

  div {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.2rem;

    span {
      font-size: 13px;
      font-weight: 500;
      color: $dark-grey;
    }
  }
}

.confirm {
  border-bottom: 1px solid rgb(198, 198, 198);
  padding-block: 1rem;
  width: 100%;

  button {
    @include black-button(5px, 0);
    justify-content: center;
    width: 100%;
    font-size: 13px;
  }

  svg {
    color: #fff;
  }
}

.error {
  span {
    color: red;
    font-size: 13px;
  }
}
