@use "@/sass/" as *;

.auth_wrapper {
  @include container;
  height: 100vh;

  display: flex;
  align-items: center;
  justify-content: center;

  h2 {
    text-align: center;
    padding-bottom: 1rem;
  }

  form {
    display: flex;
    flex-direction: column;
    gap: 1rem;

    width: 20rem;

    div {
      display: flex;
      flex-direction: column;
      gap: 0.5rem;
    }

    label {
      font-size: 13;
      font-weight: 600;
    }

    input {
      padding: 0.8rem;
      padding-inline: 1rem;
      font-family: var(--font-inter);

      border: 1px solid lightgrey;
      border-radius: 5px;
    }

    span {
      font-size: 13px;
      padding-block: 0.2rem;
    }

    a {
      text-decoration: underline;
      text-decoration-thickness: 1px;
      text-decoration-color: $dark-grey;
    }

    button {
      @include black-button(5px);
      justify-content: center;

      font-weight: 600;
    }
  }
}

.error {
  font-size: 13px;
  color: rgb(207, 30, 30);
  padding: 0.6rem;

  display: flex;
  flex-direction: column;

  border-radius: 5px;
  border: 1px solid rgb(207, 30, 30);
}

.center {
  text-align: center;
}
