@use "@/sass" as *;

.desktop {
  @include tablet {
    display: none;
  }
}

.mobile {
  display: none;

  @include tablet {
    display: block;
  }
}

.filters_button {
  @include black-button(5px);
  width: 100%;
  font-size: 12px;
}
