@use "@/sass/" as *;

.images {
  width: 50%;

  @include tablet {
    width: auto;
  }
}

.display {
  position: relative;
  aspect-ratio: 16 / 9;

  border-radius: 0.2rem;
  background: #fff;
  margin-bottom: 0.5rem;

  img {
    object-fit: contain;
  }
}
