@use "@/sass" as *;

.card {
  background: #fff;
  text-align: center;
  max-width: 16rem;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px;
  border-radius: 0.3rem;

  @include tablet {
    width: 100%;
    max-width: none;
  }

  a {
    padding: 0.3rem;
    padding-top: 1rem;
    width: 100%;
    height: 100%;

    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  h3 {
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
  }

  p {
    @include line-clamp(3);
  }
}

.image_wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
}

.image {
  object-fit: contain;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  gap: 1rem;

  padding-inline: 1rem;

  p {
    font-size: 14px;
    color: $dark-grey;
  }
}

.content_second {
  display: flex;
  justify-content: space-between;

  padding: 1rem;
}

.rating {
  display: flex;
  align-items: center;
  gap: 0.1rem;
}

.price {
  font-size: 18px;
  font-weight: 600;
}
