@use "@/sass" as *;

.wrapper {
  background: #fff;
  text-align: center;
  max-width: 18rem;

  box-shadow: rgba(0, 0, 0, 0.09) 0px 3px 12px;
  border-radius: 0.3rem;

  @include tablet {
    width: 100%;
    max-width: none;
  }

  a {
    padding: 1rem;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  h3 {
    font-size: 17px;
    font-weight: 500;
    text-transform: capitalize;
  }

  p {
    @include line-clamp(3);
  }
}

.image_wrapper {
  position: relative;
  aspect-ratio: 16 / 9;
}

.image {
  object-fit: contain;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding-top: 1rem;
  gap: 1rem;

  p {
    font-size: 14px;
    color: $dark-grey;
  }
}

.content_second {
  padding-top: 2rem;
  display: flex;
  align-items: end;
  justify-content: space-between;
}

.price {
  font-size: 18px;
  font-weight: 600;
}
