@use "@/sass/" as *;

.card {
  max-width: 16rem;
  background: #fff;
  box-shadow: rgba(0, 0, 0, 0.09) 0px 1px 3px;
  border-radius: 0.3rem;

  padding: 0.3rem;
  padding-top: 1rem;
  width: 16rem;
  height: 21rem;

  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1.5rem;

  @include tablet {
    width: 100%;
    max-width: none;
  }
}

.image {
  width: 90%;
  height: 8rem;
}

.title {
  width: 90%;
  height: 1.5rem;
}

.description {
  width: 90%;
  height: 3rem;
}

.image,
.title,
.description {
  @extend .skeleton;
}
