@use "@/sass/" as *;

.details {
  width: 50%;

  display: flex;
  flex-direction: column;
  gap: 2rem;

  @include tablet {
    padding-bottom: 2rem;
    width: auto;
  }

  h1 {
    font-weight: 500;
    text-transform: capitalize;
  }
}

.details_text {
  color: $dark-grey;
  padding-bottom: 1.5rem;
  border-bottom: 1px solid rgba($dark-grey, 0.1);
}

.price {
  font-size: 21;
  font-weight: 700;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  a {
    font-size: 14.5;
    display: flex;
    align-items: center;

    span {
      padding-left: 0.2rem;
      text-transform: capitalize;
    }

    svg {
      margin-left: 0.1rem;
    }
  }
}

.list {
  list-style: circle;
  padding-left: 1rem;
  color: $dark-grey;
  font-size: 15;

  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}
